body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
    font-size: 3.625rem;
    text-transform: uppercase;
    font-weight: 500;
    color:black;
    text-align:center
}

.icon{
    display: flex;
    justify-content: space-around;
}

button{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  color:#FFF;
  font-family:Verdana, Geneva, sans-serif;
  cursor:pointer;

}

.select-box{
    display:flex;
    justify-content:center;
    margin:50px;
    padding:50px;
    flex-direction: column;
    align-items:center;
}
select {
    font-family: cursive, sans-serif;
    outline: 0;
    background: #2ecc71;
    color: #fff;
    border: 1px solid crimson;
    padding: 10px;
    margin:3px;#3f6cfb
    border-radius: 9px;
    height: 100px;
    width: 50%;
    font-size:20px;


}

.submit{
   display:flex;
   font-family: cursive, sans-serif;
    outline: 0;
    background: white;
    color: #3f6cfb;
    border: 1px solid crimson;
    padding: 4px;
    border-radius: 9px;
    height: 50px;
    width: 30%;
    font-size:20px;
    justify-content:center;
}