<!Doctype html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Car Price Prediction</title>
    <link rel="stylesheet" href="static/css/CarPricePred.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <section>
  <!--for demo wrap-->
      <h1>Market Fair Value of your Car</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
             <th>Car Model</th>
             <th>Car Company</th>
              <th>Car Purchase Year</th>
              <th>Fuel Type</th>
              <th>KMs Driven</th>
              <th>Predicted Price</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td data-th="Car Model">{{CarName}}</td>
            <td data-th="Car Company">{{CarCompany}}</td>
            <td data-th="Car Purchase Year">{{CarPurchaseYear}} </td>
            <td data-th="Fuel Type">{{fuel_type}}</td>
            <td data-th="KMs Driven">{{kms_driven}}</td>
            <td data-th="Predicted Price" style=" font-weight: bold;">{{prediction}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</section>



</body>
</html>
