<!Doctype html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Laptop Price Prediction</title>
    <link rel="stylesheet" href="static/css/Carmodel.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Carmodel.js')}}"></script>
</head>
<body>
 <h1 style="color:#fff;font-size:50px;">Select Below Option to find the fair market value of your Laptop</h1>
<!--Style 1-->
  <form action="/predictlaptop", method="GET">
      <label></label>
      <select name="Laptop" >
        <option value="select">Select Your Laptop</option>
          <option value="Apple">Apple</option>
          <option value="HP">HP</option>
          <option value="Acer">Acer</option>
          <option value="Asus">Asus</option>
          <option value="Dell">Dell</option>
          <option value="Lenovo">Lenovo</option>
          <option value="Chuwi">Chuwi</option>
          <option value="MSI">MSI</option>
          <option value="Microsoft">Microsoft</option>
          <option value="Toshiba">Toshiba</option>
          <option value="Huawei">Huawei</option>
          <option value="Xiaomi">Xiaomi</option>
          <option value="Vero">Vero</option>
          <option value="Razer">Razer</option>
          <option value="Mediacom">Mediacom</option>
          <option value="Samsung">Samsung</option>
          <option value="Google">Google</option>
          <option value="Fujitsu">Fujitsu</option>
          <option value="LG">LG</option>
      </select>
      <select name="LaptopType">
        <option value="select">Select Your Laptop Type</option>
        <option value="Ultrabook">Ultrabook</option>
        <option value="Notebook">Notebook</option>
        <option value="Netbook">Netbook</option>
        <option value="Gaming">Gaming</option>
        <option value="2 in 1 Convertible">2 in 1 Convertible</option>
        <option value="Workstation">Workstation</option>
      </select>
      <select name="Cpu_Brand">
        <option value="select">Select Your Laptop CPU Brand</option>
        <option value="Intel Core i5">Intel Core i5</option>
        <option value="Intel Core i7">Intel Core i7</option>
        <option value="AMD Precessor">AMD Precessor</option>
        <option value="Intel Core i3">Intel Core i3</option>
        <option value="Other Intel Processor">Other Intel Processor</option>
      </select>
      <select name="HDD">
        <option value="select">Select Your Laptop HDD</option>
        <option value="0">0</option>
        <option value="32">32</option>
        <option value="128">128</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
      </select>
      <select name="SDD">
        <option value="select">Select Your Laptop SDD</option>
        <<option value="0">0</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="64">64</option>
        <option value="128">128</option>
        <option value="180">180</option>
        <option value="240">240</option>
        <option value="256">256</option>
        <option value="512">512</option>
        <option value="768">768</option>
        <option value="1000">1000</option>
        <option value="1024">1024</option>
      </select>
    <select name="Gpu brand">
        <option value="select">Select Your GPU Brand</option>
        <option value="Intel">Intel</option>
        <option value="AMD">AMD</option>
        <option value="Nvidia">Nvidia</option>
    </select>
    <select name="OS">
        <option value="select">Select Your Laptop OS</option>
        <option value="Mac">Mac</option>
        <option value="Others/No OS/Linux">Others/No OS/Linux</option>
        <option value="Windows">Windows</option>
    </select>
    <select name="RAM">
        <option value="select">Select Your Laptop RAM</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="4">4</option>
        <option value="2">2</option>
        <option value="12">12</option>
        <option value="6">6</option>
        <option value="32">32</option>
        <option value="24">24</option>
        <option value="64">64</option>
    </select>
    <label for="Weight" class="kms_driven">Weight
      <input class="kms_drivenInput" type="number" id="Weight" name="Weight" step="any">
      </label>
      <label for="Touchscreen" class="kms_driven">Touchscreen
      <input class="kms_drivenInput" type="number" id="Touchscreen" name="Touchscreen" min=0 max=1>
      </label>
      <label for="IPS" class="kms_driven">IPS
      <input class="kms_drivenInput" type="number" id="IPS" name="IPS" min=0 max=1>
      </label>
      <select name="PPI">
        <option value="select">Select Your Laptop PPI Value</option>
        <option value="226.983004681061">226.98</option>
        <option value="127.677940133097">127.68</option>
        <option value="141.211998082199">141.21</option>
        <option value="220.534623866258">220.53</option>
        <option value="100.454669861137">100.45</option>
        <option value="157.350512148736">157.35</option>
        <option value="226.415547169359">226.42</option>
        <option value="165.632118051301">165.63</option>
        <option value="135.094211192563">135.09</option>
        <option value="127.335674571231">127.34</option>
        <option value="111.935203559552">111.94</option>
        <option value="276.053530085501">276.05</option>
        <option value="90.583401724493">90.58</option>
        <option value="224.173809078573">224.17</option>
        <option value="200.842559936957">200.84</option>
        <option value="352.465147213168">352.47</option>
        <option value="199.692070641082">199.69</option>
        <option value="119.723215765342">119.72</option>
        <option value="331.264236102601">331.26</option>
        <option value="316.965060443496">316.97</option>
        <option value="282.423996164397">282.42</option>
        <option value="209.800682864981">209.80</option>
        <option value="106.113062142693">106.11</option>
        <option value="254.671349142462">254.67</option>
        <option value="158.482530221748">158.48</option>
        <option value="117.826530062686">117.83</option>
        <option value="176.232573606584">176.23</option>
        <option value="267.338436034403">267.34</option>
        <option value="169.780899428308">169.78</option>
        <option value="189.905790524336">189.91</option>
        <option value="234.507400030178">234.51</option>
        <option value="125.367427986698">125.37</option>
        <option value="107.98564559227">107.99</option>
        <option value="161.725390835256">161.73</option>
        <option value="146.860478005487">146.86</option>
        <option value="111.14133686764">111.14</option>
        <option value="194.947537175425">194.95</option>
        <option value="234.976764808779">234.98</option>
        <option value="220.842824068401">220.84</option>
      </select>
      <input type="submit" class="button" value="Submit" />
</form>
</body>
</html>
